

build_out/
/build/
build/
**/build/
/build-out/
build-out/


.cxx/
**/.cxx/
app/.prefab/

# ========== Gradle ==========
.gradle/
**/.gradle/
local.properties


*.jks
*.keystore
*.jks.*
signing.properties
signing.gradle

# ========== IDE ==========
.idea/
*.iml
.vscode/


.DS_Store
Thumbs.db


*.log
*.tmp
*.apk
*.aab
*.hprof
captures/
