

* text=auto


*.png  binary
*.jpg  binary
*.jpeg binary
*.gif  binary
*.webp binary
*.ico  binary
*.ttf  binary
*.otf  binary
*.jar  binary
*.aar  binary
*.so   binary
*.a    binary
*.dex  binary
*.apk  binary
*.zip  binary


*.java   text
*.kt     text
*.kts    text
*.gradle text
*.pro    text
*.xml    text
*.html   text
*.md     text
*.txt    text
*.json   text
*.sh     text eol=lf
gradlew  text eol=lf
